<app-messages></app-messages>
<app-opening-effect></app-opening-effect>
<a routerLink="/favorites">Mėgstamiausi: {{favoritesService.favorites.length}}</a>
<div class="content">
    <div class="filters">
        <button (click)="rodytiTamsu()">Tamsus alus</button>
        <button (click)="rodytiSviesu()">Šviesus alus</button>
        <button (click)="rodytiVisus()">Visi</button>
        <button (click)="pagalAlk()">Rikiuoti pagal alkoholio tūrį</button>
        <button (click)="pagalPavadinima()">Rikiuoti pagal pavadinima</button>
        <button (click)="alausService.getItems()">Gauti alaus</button>
    </div>

    <div class="list">
        <div class="item" *ngFor="let beer of (alausService.beerList | alausTipas:tipas | order :order )">
            <app-alus-item [alus]="beer" (onItemAdded)="favoritesService.addToFavorites(beer.id)" (onItemRemoved)="favoritesService.removeFromFavorites(beer.id)"></app-alus-item>
        </div>
    </div>

</div>