.alus {
  font-family: 'Heebo';
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin-top: 0px;

  h3 {
    font-family: "Lobster", cursive;
    font-size: 2.1rem;
  }

  img {
    width: 470px;
    height: 370px;
  }

  .inline {
    width: 470px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
}
