<div class="alus">
    <h3>{{alus.name}}</h3>
    <img src="{{alus.image_url}}" alt="aliukas">
    <p class="details">Puikiai dera su: {{alus.food_pairing}}. </p>
    <div class="inline">
        <p class="details">Alkoholio procentine dalis: {{alus.abv | percent }}.</p>
        <p class="details">pH: {{alus.ph}}.</p>
    </div>
    <div class="buttons">
        <button (click)="onItemAdded.emit()">Pridėti į mėgstamiausius</button>
        <button (click)="onItemRemoved.emit()">Išimti iš mėgstamiausių</button>
    </div>
</div>