<a routerLink="/items">Go back to beer list</a>
<div class="favorites">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let beer of (favoritesService.favorites | favortiesNormalized)">
            <div class="item">
                <h1>{{beer.itemId | idToName : alusService.bearList }}</h1>
                <img src="{{beer.itemId | idToImage: alusService.bearList}}" alt="image of some beer">
                <button (click)="removeFromFavorites(beer.itemId)">Išimti iš mėgstamiausių</button>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>